/GUIA11/target/
/JavaProject1/nbproject/private/
/JavaApplication2/nbproject/private/
/JavaApplication2/build/
/Yugi/build/
/Yugi/nbproject/private/
/GUIA11/nbproject/
/Guia11v2/nbproject/private/
/Guia11v2/build/
/GUIA12/nbproject/private/
/GUIA12/build/
/guia12ej2/nbproject/private/
/guia12ej2/build/
/guia12_ej4/JavaIntro01Encuentro56/nbproject/private/
/GUIA12,ej1/nbproject/private/
/guia_12_Ejercicio_extra2/Guia12,extra2/nbproject/private/
/Guia12,ej2/nbproject/private/
/Guia12Eje04FormasGeometricas/Guia12,ej4/nbproject/private/
/guia_12_Ejercicio_extra2/Guia12,extra2/build/
/Proyecto1mysql/nbproject/private/
/JDBC/nbproject/private/
/pelado/Java_SQL_/nbproject/private/
/pelado/Tienda_SQLPELADO/nbproject/private/
/pelado/Tienda_SQLPELADO/build/
/jpaguia/nbproject/private/
/jpaguia/build/
